Coding/fw/doc/Node-Red/PIDFlow.json
[
    {
        "id": "964881da.8441d",
        "type": "tab",
        "label": "Data Collection",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ea1e9ad1.14c008",
        "type": "websocket in",
        "z": "964881da.8441d",
        "name": "WebSocket",
        "server": "c45903cf.3467b",
        "client": "",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "ed00466e.9d28f8",
                "83f9925c.6c81f"
            ]
        ]
    },
    {
        "id": "95d5423f.bd68a",
        "type": "function",
        "z": "964881da.8441d",
        "name": "",
        "func": "msg.TYPE = msg.payload[0];\n\nif(msg.TYPE == 't')\n{\nmsg.ID = msg.payload.substr(1,3);\nmsg.DLC = msg.payload[4];\nmsg.DATA = msg.payload.substr(5, msg.DLC * 2);\nmsg.BYTES = [\"-\", \"-\", \"-\", \"-\", \"-\", \"-\", \"-\", \"-\"];\nmsg.TIMESTAMP = msg.payload.substr(5 + msg.DLC * 2, 4);\nmsg.SYSTIME = msg.payload.substr(9 + msg.DLC * 2, 6);\n\nvar position = 0;\nvar byte = 0;\nmsg.DATA.toUpperCase();\n\nwhile (position < (msg.DLC * 2)) {\n    msg.BYTES[byte] = parseInt(msg.DATA.substr(position, 2),16);\n    byte++;\n    position = position + 2;\n}\n\nif (0x7E8 <= parseInt(msg.ID, 16) && parseInt(msg.ID, 16) <= 0x7EF) {\n            return msg;\n        }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 220,
        "wires": [
            [
                "5c2ca080.255f4",
                "9084b397.118a3"
            ]
        ]
    },
    {
        "id": "9084b397.118a3",
        "type": "switch",
        "z": "964881da.8441d",
        "name": "",
        "property": "BYTES[2]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0x0D",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0xA6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0x0C",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0x5C",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0x61",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0x62",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 650,
        "y": 220,
        "wires": [
            [
                "747bc3a4.15c6dc"
            ],
            [
                "7a718c55.cf8a44"
            ],
            [
                "4c56de85.6cd5f"
            ],
            [
                "df948dd3.87f37"
            ],
            [
                "1d45b91d.f20177"
            ],
            [
                "7ea9ed79.72c7c4"
            ]
        ]
    },
    {
        "id": "747bc3a4.15c6dc",
        "type": "link out",
        "z": "964881da.8441d",
        "name": "Out: Vehicle speed",
        "links": [
            "6062031c.f23fcc"
        ],
        "x": 815,
        "y": 120,
        "wires": []
    },
    {
        "id": "7a718c55.cf8a44",
        "type": "link out",
        "z": "964881da.8441d",
        "name": "Out: Odometer",
        "links": [
            "b8f31ece.b2256",
            "99472935.249fd8"
        ],
        "x": 815,
        "y": 160,
        "wires": []
    },
    {
        "id": "4c56de85.6cd5f",
        "type": "link out",
        "z": "964881da.8441d",
        "name": "Out: Engine Speed",
        "links": [
            "da244543.b82f18",
            "dff5d374.ab48"
        ],
        "x": 815,
        "y": 200,
        "wires": []
    },
    {
        "id": "df948dd3.87f37",
        "type": "link out",
        "z": "964881da.8441d",
        "name": "Out: Oil Temp",
        "links": [
            "ceabc31f.d86f3",
            "33d5ac38.bbd8b4"
        ],
        "x": 815,
        "y": 240,
        "wires": []
    },
    {
        "id": "1d45b91d.f20177",
        "type": "link out",
        "z": "964881da.8441d",
        "name": "Out: Driver's Torque Demand",
        "links": [
            "8765b5fd.b253b8",
            "7bee38bf.05ecc8"
        ],
        "x": 815,
        "y": 280,
        "wires": []
    },
    {
        "id": "7ea9ed79.72c7c4",
        "type": "link out",
        "z": "964881da.8441d",
        "name": "Out: Actual Torque",
        "links": [
            "2b7f8aba.8c0426",
            "937bbe0e.c0db2"
        ],
        "x": 815,
        "y": 320,
        "wires": []
    },
    {
        "id": "5c2ca080.255f4",
        "type": "debug",
        "z": "964881da.8441d",
        "name": "PIDs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "ed00466e.9d28f8",
        "type": "split",
        "z": "964881da.8441d",
        "name": "",
        "splt": "[13]",
        "spltType": "bin",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "95d5423f.bd68a",
                "eefd720b.37b53"
            ]
        ]
    },
    {
        "id": "83f9925c.6c81f",
        "type": "debug",
        "z": "964881da.8441d",
        "name": "Incoming String",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 100,
        "wires": []
    },
    {
        "id": "eefd720b.37b53",
        "type": "debug",
        "z": "964881da.8441d",
        "name": "Parsed Frame",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 340,
        "wires": []
    },
    {
        "id": "c45903cf.3467b",
        "type": "websocket-listener",
        "path": "ws://192.168.43.148/ws",
        "wholemsg": "false"
    }
]